// General Styles

body
  margin: 0
  padding: 0
  background: $bodyBackground
  font-family: 'Titillium Web', sans-serif

a
  text-decoration: none
  color: $greenDarkColor
  @include animate-all(.3s)
  &:hover
    color: darken($greenDarkColor,5)

h1,h2,h3,h4
  font-family: 'Marcellus', serif
  margin: 2px 0
h5,h6
  margin: 2px 0

ul
  list-style: none
  margin: 0
  padding: 0

hr
  border: none
  width: 100%
  height: 1px
  background: lighten($grayLightColor,30)

// General Classes

//Text
.text-center
  text-align: center
.text-right
  text-align: right

// Margin
.general
  margin: em(20) 0
.mt
  margin-top: 8px !important

// Float
.float
  @include clearfix
  .push-right
    float: right
  .push-left
    float: left
