.custom-theme
  &.froala-box
    .html-switch
      border-color: #aaaaaa
    .froala-wrapper.f-basic
      border: solid 1px #252525
      &.f-placeholder + span.fr-placeholder
        margin: 10px
    .froala-element
      hr
        border-top-color: #cccccc
      &.f-placeholder:before
        color: #cccccc
      pre
        border: solid 1px #cccccc
        background: #fcfcfc
        border-radius: 4px
        -moz-border-radius: 4px
        -webkit-border-radius: 4px
        -moz-background-clip: padding
        -webkit-background-clip: padding-box
        background-clip: padding-box
      blockquote
        border-left: solid 5px #cccccc
      img
        min-width: 32px !important
        min-height: 32px !important
        &.fr-fil
          padding: 10px 10px 10px 3px
        &.fr-fir
          padding: 10px 3px 10px 10px
        &.fr-fin
          padding: 10px 0
        &::selection, &::-moz-selection
          color: #ffffff
      span
        &.f-img-editor
          &:before
            border: solid 2px #ffffff !important
            outline: solid 1px #252525 !important
          &.fr-fil
            margin: 10px 10px 10px 3px
          &.fr-fir
            margin: 10px 3px 10px 10px
          &.fr-fin
            margin: 10px 0
        &.f-img-handle
          height: 13px
          width: 13px
          border: solid 1px #252525 !important
          background: #ffffff
        &.f-video-editor.active:after
          border: solid 1px #252525
      &.f-basic
        background: transparent
        color: '#444'
        padding: 10px
        a
          color: inherit
      table td
        border: solid 1px #cccccc
    &.f-html .froala-element
      background: #202020
      color: #ffffff
      font-family: 'Courier New', Monospace
      font-size: 13px
  &.froala-editor
    background: #ffffff
    border: solid 1px #252525
    border-top: solid 5px #252525
    hr
      border-top-color: #cccccc
    span.f-sep
      border-right: solid 1px #cccccc
      height: 35px
    button
      &.fr-bttn, &.fr-trigger
        background: transparent
        color: #353535
        font-size: 16px
        line-height: 35px
        width: 40px
      &.fr-bttn img, &.fr-trigger img
        max-width: 40px
        max-height: 35px
      &.fr-bttn:disabled, &.fr-trigger:disabled
        color: #aaaaaa !important
      &.fr-bttn:disabled:after, &.fr-trigger:disabled:after
        border-top-color: #aaaaaa !important
    &.ie8 button
      &.fr-bttn:hover, &.fr-trigger:hover
        background: #c21533
        color: #ffffff
      &.fr-bttn:hover:after, &.fr-trigger:hover:after
        border-top-color: #ffffff
    .bttn-wrapper:not(.touch) button.fr-bttn:hover, .froala-popup button.fr-bttn:hover, .bttn-wrapper:not(.touch) button.fr-trigger:hover, .froala-popup button.fr-trigger:hover
      background: #c21533
      color: #ffffff
    .bttn-wrapper:not(.touch) button.fr-bttn:hover:after, .froala-popup button.fr-bttn:hover:after, .bttn-wrapper:not(.touch) button.fr-trigger:hover:after, .froala-popup button.fr-trigger:hover:after
      border-top-color: #ffffff
    .fr-bttn.active
      color: #c21533
      background: transparent
    .fr-trigger
      &:after
        border-top-color: #353535
      &.active
        color: #ffffff
        background: #c21533
        &:after
          border-top-color: #ffffff !important
    .fr-dropdown
      .fr-trigger
        width: calc(38px)
      .fr-dropdown-menu
        background: #ffffff
        border: solid 1px #252525
        li
          &.active a
            background: #444444 !important
            color: #ffffff !important
          a
            color: #444444
            &:hover
              background: #444444 !important
              color: #ffffff !important
        &.fr-table >
          li
            &:hover > a, &.hover > a
              background: #444444
              color: #ffffff
            >
              ul
                background: #ffffff
                color: #444444
                border: solid 1px #252525
              div
                background: #ffffff
                color: #444444
                border: solid 1px #252525
                > span
                  > span
                    border: solid 1px #cccccc
                  &:hover > span, &.hover > span
                    background: rgba(61, 142, 185, 0.3)
                    border: solid 1px #3d8eb9
          hr
            border-top: solid 1px #252525
      &.fr-color-picker .fr-dropdown-menu
        p
          color: #444444
          a.fr-bttn
            color: #444444
            &:hover
              color: #c21533
        .fr-color-bttn
          &.active
            outline: solid 1px #252525
            &:after
              color: #ffffff
          &:hover:not(:focus):not(:active)
            outline: solid 1px #252525
    .froala-popup
      background: #ffffff
      h4
        color: #444444
        i
          color: #cccccc
          &.fa-external-link
            color: #444444
            &:hover
              color: #c21533
          &:hover
            color: #444444
      button.fr-p-bttn
        color: #ffffff
        &.f-ok
          background: #c21533
          color: #ffffff
        &.f-unlink
          background: #b8312f
          color: #ffffff
          &:hover
            background: #c21533
            color: #ffffff
        &:hover, &:focus
          background: #c21533
          color: #ffffff
      div.f-popup-line
        &.f-popup-toolbar
          background: #ffffff
        label
          color: #444444
        input[type="text"]
          border: solid 1px #cccccc
          &:focus
            border: solid 1px #c21533
          &:disabled
            background: #ffffff
            color: #aaaaaa
        textarea
          border: solid 1px #cccccc
          &:focus
            border: solid 1px #c21533
      &.froala-image-editor-popup div.f-popup-line + div.f-popup-line
        border-top: solid 1px #cccccc
      &.froala-video-popup p.or
        color: #444444
      &.froala-image-popup
        div.f-popup-line
          &.drop-upload div.f-upload
            color: #444444
            border: dashed 2px #cccccc
            &:hover
              border: dashed 2px #c21533
            &.f-hover
              border: dashed 2px #61bd6d
          button.f-browse
            background: #475577
            color: #ffffff
            &:hover
              background: #c21533
              color: #ffffff
          + div.f-popup-line
            border-top: solid 1px #cccccc
        p.f-progress
          background-color: #c21533
          span
            background-color: #c21533
            color: #ffffff
      &.froala-link-popup div.f-popup-line
        .f-browse-links
          background: #475577
          color: #ffffff
          &:hover
            background: #c21533
            color: #ffffff
        ul
          background: #ffffff
          border: solid 1px #252525
          li
            color: #444444
            + li
              border-top: solid 1px #252525
            &:hover
              background: #444444
              color: #ffffff
  &.froala-modal .f-modal-wrapper
    background: #ffffff
    border: solid 1px #252525
    border-top: solid 5px #252525
    h4
      color: #444444
      i
        color: #cccccc
        &:hover
          color: #444444
    div.f-image-list
      div
        &.f-empty
          background: #cccccc
        .f-delete-img
          background: #b8312f
          color: #ffffff
          &:hover
            background: #c21533
            color: #ffffff
      &:not(.f-touch) div:hover .f-delete-img:hover
        background: #c21533
        color: #ffffff

.froala-overlay
  background: #000000
