<% content_for :breadcrumbs do %>
  <div class="breadcrumb">
    <%= link_to 'Dashboard', admin_path %>
    <%= link_to 'Artículos', admin_categorias_path %>
    <%= link_to 'Editar Artículo', '' %>
  </div>
<% end %>

<div class='container'>
  <div class='row title'>
    <div class='col-12'>
      <span class='icon'>
        <i class="fa fa-file fa-lg"></i>
      </span>
      <h3>Editar Artículo</h3>
    </div>
    <div class='col-12 info'>
      <%= render 'form' %>
    </div>
  </div>
</div>
