<div class='title'>
  <span class='icon'>
    <i class="fa fa-history fa-lg"></i>
  </span>
  <h4>Últimos Vistos</h4>
</div>
<ul class='content'>
  <li>
    <%= link_to 'Pregunta', root_path %>
  </li>
  <li>
    <%= link_to 'Pregunta', root_path %>
  </li>
</ul>

<div class='title'>
  <span class='icon'>
    <i class="fa fa-heart fa-lg"></i>
  </span>
  <h4>Más Valorados</h4>
</div>
<ul class='content'>
  <li>
    <%= link_to 'Pregunta', root_path %>
  </li>
  <li>
    <%= link_to 'Pregunta', root_path %>
  </li>
</ul>
