<div class='title'>
  <span class='icon'>
    <i class="fa fa-history fa-lg"></i>
  </span>
  <h4>Últimos Vistos</h4>
</div>
<ul class='content'>
  <% ultimos_articulos.each do |articulo|%>
  <li>
    <%= link_to articulo.titulo , root_path %>
  </li>
  <% end %>
</ul>

<!--  Valorados
<div class='title'>
  <span class='icon'>
    <i class="fa fa-heart fa-lg"></i>
  </span>
  <h4>Más Valorados</h4>
</div>
<ul class='content'>
  <li>
    <%= link_to 'Pregunta', root_path %>
  </li>
  <li>
    <%= link_to 'Pregunta', root_path %>
  </li>
</ul>
-->
