<div class='row'>
  <div class='col-8 categories'>
    <ul>
      <li>
        <div class='header'>
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-flag fa-stack-1x fa-inverse"></i>
          </span>
          <h3 class='title'>Titulo</h3>
        </div>
        <ul>

        </ul>
        <%= link_to '<span>ver todas las subcategorias</span> <i class="fa fa-arrow-circle-right"></i>'.html_safe, root_path , class: 'link-to'%>
      </li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
    </ul>
  </div>
  <div class='col-4'>
    sidebar
  </div>
</div>
