// Categories

// Categorias Show
.category
  .header
    background: $redColor
    .icon
      float: left
      color: white
      position: relative
      width: 50px
      height: 46px
      text-align: center
      .icon
        background: $redColor
        padding: em(11) 0
        opacity: .85
        width: 100%
        height: 100%
        z-index: 2
        position: absolute
        top: 0
        left: 0
      .back
        background: white
        padding: em(11) em(20)
        width: 100%
        height: 100%
        z-index: 1
        position: absolute
        top: 0
        left: 0

    .title
      padding: em(8) em(10)
      float: left
      color: white
      text-transform: capitalize
    @include clearfix
  .accordion
    @include outer-container
    margin: 0
    dt
      a
        background: white
        display: block
        padding: em(10) em(20)
        border-bottom: solid 1px darken($bodyBackground,5)
        &:hover
          background: $greenMediumColor
          color: white
        span
          float: left
        i
          float: right
        @include clearfix
        &.active
          background: $greenMediumColor
          color: white

    .content
      display: block
      border-top: solid 1px darken($bodyBackground,5)
      border-bottom: solid 1px darken($bodyBackground,5)
      background: white
      margin: 0
      ul
        padding: em(10) em(25)
        li
          padding: em(5) 0
          border-bottom: 1px solid darken($bodyBackground,5)
      .link-to
        background: darken($bodyBackground,5)
        display: block
        font-size: 10pt
        padding: em(10) em(20)
        text-transform: lowercase
        color: $grayDarkColor
        &:hover
          background: darken($bodyBackground,20)
          color: $graySuperDarkColor

        span
          float: left
        i
          float: right
          padding: em(5)
        @include clearfix


// Categorias Index
.categories
  ul
    @include outer-container
    li
      @include span-columns(6)
      @include omega(2n)
      margin: 5px
      background: white
      .content
        ul
          li
            margin: 0
            @include span-columns(12)
          .subtitle
            border-bottom: 1px solid darken($bodyBackground,5)
            display: block
            padding: em(10) em(20)
            &:hover
              background: $greenMediumColor
              color: white
      .header
        background: $redColor
        .icon
          float: left
          color: white
          position: relative
          width: 50px
          height: 46px
          text-align: center
          .icon
            background: $redColor
            padding: em(11) 0
            opacity: .85
            width: 100%
            height: 100%
            z-index: 2
            position: absolute
            top: 0
            left: 0
          .back
            background: white
            padding: em(11) em(20)
            width: 100%
            height: 100%
            z-index: 1
            position: absolute
            top: 0
            left: 0
        .title
          padding: em(8) em(10)
          float: left
          color: white
          text-transform: capitalize
        @include clearfix
      .link-to
        background: darken($bodyBackground,5)
        display: block
        font-size: 10pt
        padding: em(10) em(20)
        text-transform: lowercase
        color: $grayDarkColor
        &:hover
          background: darken($bodyBackground,20)
          color: $graySuperDarkColor
        span
          float: left
        i
          float: right
          padding: em(5)
        @include clearfix
