// Categories

// Categorias Show
.category
  @include header
  .accordion
    @include outer-container
    margin: 0
    dt
      a
        background: white
        display: block
        padding: em(10) em(20)
        border-bottom: solid 1px darken($bodyBackground,5)
        &:hover
          background: $greenMediumColor
          color: white
        span
          float: left
        i
          float: right
        @include clearfix
        &.active
          background: $greenMediumColor
          color: white

    .content
      display: block
      border-top: solid 1px darken($bodyBackground,5)
      border-bottom: solid 1px darken($bodyBackground,5)
      background: white
      margin: 0
      ul
        li
          a
            padding: em(10) em(30)
            font-size: 10pt
            display: block
            border-bottom: 1px solid darken($bodyBackground,5)
            &:hover
              background: darken($bodyBackground,2)
      .link-to
        background: darken($bodyBackground,5)
        display: block
        font-size: 10pt
        padding: em(10) em(20)
        text-transform: lowercase
        color: $grayDarkColor
        &:hover
          background: darken($bodyBackground,20)
          color: $graySuperDarkColor

        span
          float: left
        i
          float: right
          padding: em(5)
        @include clearfix


// Categorias Index
.categories
  @include header
  ul
    @include outer-container
    li
      @include span-columns(6)
      @include omega(2n)
      margin-bottom: em(10)
      background: white
      .content
        ul
          li
            margin: 0
            padding: 0
            width: 100%
            a
              border-bottom: 1px solid darken($bodyBackground,5)
              display: block
              padding: em(10) em(20)
              font-size: 10pt
              &:hover
                background: $greenMediumColor
                color: white
      .link-to
        background: darken($bodyBackground,5)
        display: block
        font-size: 10pt
        padding: em(10) em(20)
        text-transform: lowercase
        color: $grayDarkColor
        &:hover
          background: darken($bodyBackground,20)
          color: $graySuperDarkColor
        span
          float: left
        i
          float: right
          padding: em(5)
        @include clearfix
