.question
  .header
    background: $redColor
    height: 45px
    .icon
      float: left
      color: white
      position: relative
      width: 50px
      height: 100%
      text-align: center
      .icon
        background: $redColor
        line-height: 45px
        opacity: .85
        width: 100%
        z-index: 2
        position: absolute
        top: 0
        left: 0
      .back
        background: white
        line-height: 45px
        width: 49px
        height: 45px
        z-index: 1
        position: absolute
        top: 0
        left: 0
    .title
      padding: 0 em(10)
      margin: 0
      line-height: 45px
      float: left
      color: white
      text-transform: capitalize
    @include clearfix
  .subtitle
    background: $greenMediumColor
    color: white
    display: block
    padding: em(10) em(20)
    margin: 0
  .content
    background: white
    padding: em(20)
    .title
      color: $grayDarkColor
      margin-bottom: em(10)
    .image
      width: 100%
      height: em(200)
      background: $bodyBackground
      margin-bottom: em(20)
    .info
      text-align: justify
