// Subcategories
.add-subcategory
  //display: none
.subcategory
  @include header
  .subtitle
    background: $greenMediumColor
    color: white
    display: block
    font-size: 11pt
    padding: em(10) em(20)
    margin: 0
  .content
    background: white
    margin: 0
    a
      padding: em(10) em(25)
      font-size: 10pt
      display: block
      border-bottom: 1px solid darken($bodyBackground,5)
      &:hover
        background: darken($bodyBackground,2)
