// General Variables
$bodyBackground: #fafafa

// Colors
$redColor: #c21533
$greenLightColor: #79bb2f
$greenMediumColor: #0e8b48
$greenDarkColor: #0e7736
$grayLightColor: #8c9192
$grayDarkColor: #67676d
$yellowColor: #f8c704
$colorWhite: #fff
$colorDisabled: #ececec
$graySuperDarkColor: #333

// Buttons
$buttonBaseColor: $greenMediumColor
$buttonRedColor: $redColor
$buttonYellowColor: $yellowColor
$buttonGreenColor: $greenLightColor
$buttonGrayColor: darken($bodyBackground,20)

// Neat Grid
//--------------
// Change the grid settings
$column: 90px
$gutter: 30px
$grid-columns: 12
$max-width: em(960)

// Media Queries
$tablet: new-breakpoint(max-width 768px)
$mobile: new-breakpoint(max-width 480px)

//Pagination
$pagination-border-color: $grayLightColor
$pagination-border: 1px solid $pagination-border-color
$pagination-background: lighten($pagination-border-color, 10)
$pagination-hover-background: lighten($pagination-background, 5)
$pagination-color: $redColor

//Breadcrumbs

$breadcrumb-border-color: darken($bodyBackground,10)
$breadcrumb-border: 1px solid $breadcrumb-border-color
$breadcrumb-height: $gutter
$breadcrumb-arrow-color: $breadcrumb-border-color
$breadcrumb-background: $bodyBackground
$breadcrumb-inactive-hover-color: $breadcrumb-background
$breadcrumb-color: $grayLightColor
$breadcrumb-color-hover: $greenMediumColor
$breadcrumb-color-active: $breadcrumb-color

// Tables

$base-border-color: darken($bodyBackground,10)
$base-border-radius: 2px

//Admin

$headerAdmin: darken($bodyBackground,10)
$sidebarAdmin: #333
// Custom Style
