<ul class='icon-select-ul'>
  <li><i class="fa fa-adjust"></i></li>
  <li><i class="fa fa-anchor"></i></li>
  <li><i class="fa fa-archive"></i></li>
  <li><i class="fa fa-automobile"></i></li>
  <li><i class="fa fa-arrows"></i></li>
  <li><i class="fa fa-bank"></i></li>
  <li><i class="fa fa-bell"></i></li>
  <li><i class="fa fa-bicycle"></i></li>
  <li><i class="fa fa-bolt"></i></li>
  <li><i class="fa fa-book"></i></li>
  <li><i class="fa fa-briefcase"></i></li>
  <li><i class="fa fa-bug"></i></li>
  <li><i class="fa fa-building"></i></li>
  <li><i class="fa fa-bus"></i></li>
  <li><i class="fa fa-bullhorn"></i></li>
  <li><i class="fa fa-calculator"></i></li>
  <li><i class="fa fa-calendar"></i></li>
  <li><i class="fa fa-camera"></i></li>
  <li><i class="fa fa-car"></i></li>
  <li><i class="fa fa-child"></i></li>
  <li><i class="fa fa-circle"></i></li>
  <li><i class="fa fa-coffee"></i></li>
  <li><i class="fa fa-cog"></i></li>
  <li><i class="fa fa-comment"></i></li>
  <li><i class="fa fa-compass"></i></li>
  <li><i class="fa fa-envelope"></i></li>
  <li><i class="fa fa-female"></i></li>
  <li><i class="fa fa-cutlery"></i></li>
  <li><i class="fa fa-eye"></i></li>
  <li><i class="fa fa-flag"></i></li>
  <li><i class="fa fa-flash"></i></li>
  <li><i class="fa fa-folder"></i></li>
  <li><i class="fa fa-gamepad"></i></li>
  <li><i class="fa fa-gavel"></i></li>
  <li><i class="fa fa-gift"></i></li>
  <li><i class="fa fa-group"></i></li>
  <li><i class="fa fa-heart"></i></li>
  <li><i class="fa fa-inbox"></i></li>
  <li><i class="fa fa-key"></i></li>
  <li><i class="fa fa-laptop"></i></li>
  <li><i class="fa fa-leaf"></i></li>
  <li><i class="fa fa-legal"></i></li>
  <li><i class="fa fa-lock"></i></li>
  <li><i class="fa fa-magic"></i></li>
  <li><i class="fa fa-male"></i></li>
  <li><i class="fa fa-money"></i></li>
  <li><i class="fa fa-plane"></i></li>
  <li><i class="fa fa-plug"></i></li>
  <li><i class="fa fa-road"></i></li>
  <li><i class="fa fa-send"></i></li>
  <li><i class="fa fa-shield"></i></li>
  <li><i class="fa fa-star"></i></li>
  <li><i class="fa fa-tag"></i></li>
  <li><i class="fa fa-ticket"></i></li>
  <li><i class="fa fa-tree"></i></li>
  <li><i class="fa fa-trophy"></i></li>
  <li><i class="fa fa-truck"></i></li>
  <li><i class="fa fa-unlock"></i></li>
  <li><i class="fa fa-user"></i></li>
  <li><i class="fa fa-users"></i></li>
  <li><i class="fa fa-wifi"></i></li>
  <li><i class="fa fa-wrench"></i></li>
  <li><i class="fa fa-wheelchair"></i></li>
</ul>
